# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# images
*.pdf
*.png
# archives
*.tar*

# ROOT
*.root*

# Log files
*.log
*.aux
*.out

# Conf files
*.conf
*.txt

# Made binaries
cut-flow-plots
fit-and-sbs
make-plots
make-stack-plots
simple-parser-test
skim-tree
skim-truth-tree
truth-study-plots
/bin/add-systematic-plots
/bin/make-closure-sample
/bin/make-systematic-plots
/bin/print-plot-panels
/bin/skim-tree-response
/bin/test-err-prop
/bin/fit
/bin/sbs
/bin/splot
/bin/tree-bug
/bin/split-tree
/bin/print-syst-plots
